.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-items: center;
}